<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.dozyx.template">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <uses-sdk tools:overrideLibrary="androidx.camera.camera2, androidx.camera.core" />

    <application
        android:name=".ZTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".performance.RuntimeActivity"
            android:label="系统/Runtime">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <!-- action 为 main，category 为 cn.dozyx.zerofate.intent.category.sample 的activity 将显示在列表中 -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".network.NetworkActivity"
            android:label="@string/network_basic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CustomViewActivity"
            android:label="@string/view_custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".performance.BitmapActivity" />
        <activity
            android:name=".imageloader.ui.ImageLoaderActivity"
            android:label="@string/view_image_loader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".socket.SocketActivity"
            android:label="@string/network_socket">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <service
            android:name=".socket.SocketService"
            android:enabled="true"
            android:exported="true"
            android:process=":socket" />
        <service
            android:name=".aidl.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".aidl.AidlTest"
            android:label="@string/aidl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HenCoderPracticeDraw1"
            android:label="@string/view_hencoder_1_1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MaterialDesignTestActivity"
            android:label="@string/view_material_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".practice.ListInsideScrollTest"
            android:label="@string/practice_list_in_scroll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.NetworkAPITest"
            android:label="@string/network_api">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rxjava.RxJavaSimpleExam"
            android:label="@string/rxjava_simple">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LifeCycleTest"
            android:label="@string/activity_life_cycle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LaunchModeTest"
            android:label="@string/activity_launch_mode"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LaunchModeTest$StandardLaunchModeTest"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@style/AppTheme.Home" />
        <activity
            android:name=".activity.LaunchModeTest$SingleTopLaunchModeTest"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LaunchModeTest$SingleTaskLaunchModeTest"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LaunchModeTest$SingleInstanceLaunchModeTest"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.LaunchModeTest$SingleTaskLaunchModeTestWithTaskAffinity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=".test" />
        <activity
            android:name=".fragment.FragmentLifeCycleActivity"
            android:label="@string/fragment_life_cycle"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SimpleService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".service.ServiceLifeCycleActivity"
            android:label="@string/service_life_cycle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design.SwipeDismissBehaviorDemo"
            android:label="@string/design_behavior">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WidgetTest"
            android:label="@string/view_widget_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interaction.EventBusTest"
            android:label="@string/interaction_event_bus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:label="@string/view_webview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".practice.FloatWindowActivity"
            android:label="@string/practice_float_window">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <service android:name=".practice.FloatWindowActivity$FloatWindowsServices" />
        <service android:name=".service.MyIntentService" />

        <activity
            android:name=".view.recyclerview.RecyclerViewTestActivity"
            android:label="@string/view_recyclerview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SpinnerTestActivity"
            android:label="@string/view_spinner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountDownActivity"
            android:label="@string/practice_count_down">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParcelableTestActivity"
            android:label="@string/data_parcelable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".socket.SocketTestActivity"
            android:label="@string/network_socket">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.PermissionActivity"
            android:label="@string/security_permission">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ViewLifeActivity"
            android:label="@string/view_life">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.FragmentAnimationActivity"
            android:label="@string/animation_fragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ListViewActivity"
            android:label="@string/view_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design.CoordinatorLayoutActivity"
            android:label="View/CoordinatorLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogTestActivity"
            android:label="Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".arch.LiveDataActivity"
            android:label="@string/arch_live_data">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".inject.DaggerTestActivity" />
        <activity android:name=".socket.UdpActivity" />
        <activity
            android:name=".view.SurfaceViewActivity"
            android:label="@string/view_surface">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DrawerToolBarActivity"
            android:label="@string/title_activity_drawer_tool_bar"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ToolbarActivity"
            android:label="@string/view_toolbar"
            android:parentActivityName=".view.chart.MpChartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.PopupWindowActivity"
            android:label="@string/dialog_popup_window">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawable.BackgroundTintActivity"
            android:label="@string/drawable_tint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design.TabLayoutActivity"
            android:label="@string/design_tablayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.chart.MpChartActivity"
            android:label="@string/view_chart_mp_chart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.StatusBarActivity"
            android:label="@string/view_status_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileActivity"
            android:label="@string/file_basic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hardware.camera.CameraActivity"
            android:label="@string/hardware_camera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hardware.camera.CameraSurfaceViewActivity"
            android:label="@string/hardware_camera_control">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ViewPagerActivity"
            android:label="@string/view_pager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hardware.camera.CameraPreview"
            android:label="Hardware/Camera/Android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConfigActivity"
            android:label="Activity/Config">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.custom.CustomViewTestActivity"
            android:label="View/Custom/TouchFollow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hardware.camera.CameraTextureActivity"
            android:label="Hardware/Camera/Texture">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hardware.camera.CameraControlActivity"
            android:label="Hardware/Camera/Control">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ResultActivity"
            android:label="Activity/Result">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.practice.qijian.BookPracticeActivity"
            android:label="View/Android自定义控件开发入门与实践">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".database.room.RoomActivity"
            android:label="数据库/Room">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hardware.camera.CameraXActivity"
            android:label="Hardware/Camera/CameraX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".image.ImageLoaderTest"
            android:label="Image/loader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.scroll.ScrollTest"
            android:label="View/Scroll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.edittext.InputFilterTest"
            android:label="View/EditText/InputFilter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SpanTest"
            android:label="View/TextView/Span">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.FocusTest"
            android:label="View/EditText/Focus"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design.behavior.CustomBehaviorTest"
            android:label="View/Behavior">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exception.ExceptionTest"
            android:label="Error/Exception">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.anim.ScanCircleActivity"
            android:label="View/动画">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.anim.AnimatorPagerActivity"
            android:label="View/动画/全部">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.ParcelableTest"
            android:label="Data/Parcelable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".arch.ViewModelTest"
            android:label="Arch/ViewModel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.DemoActivity"
            android:label="Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.swipedismiss.DragDismissActivity"
            android:label="Demo/拖动关闭"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.AnimationTest"
            android:label="Anim">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.touch.TouchTest"
            android:label="View/触摸事件">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.dragpanel.DragPanelActivity"
            android:label="Demo/dragpanel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RelativeLayoutTest"
            android:label="View/RelativeLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.fixedcolumn.FixedColumnListActivity"
            android:label="Demo/固定列表列">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.fixedcolumn.FixedColumnListActivity2"
            android:label="Demo/固定列表列2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.fixedcolumn.FixedColumnListActivity3"
            android:label="Demo/固定列表列3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.textsize.TextSizeActivity"
            android:label="View/固定文本大小">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.touch.conflict.TouchConflictActivity"
            android:label="View/触摸/滑动冲突">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.BookContentProvider"
            android:authorities="${applicationId}.book" />
        <provider
            android:name=".provider.Provider1"
            android:authorities="${applicationId}.provider1"
            android:initOrder="100" />
        <!--   initOrder: 值越大初始化越早     -->
        <provider
            android:name=".provider.Provider2"
            android:authorities="${applicationId}.provider2"
            android:initOrder="101" />

        <activity
            android:name=".gl.OpenGLES20Activity"
            android:label="音视频/GL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".image.GlideTest"
            android:label="Image/Glide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.fixedcolumn.FixedColumnLIstActivity4"
            android:label="Demo/固定列表列4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bug.CalledFromWrongThreadTest"
            android:label="Bug/CalledFromWrongThread">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".arch.PagingTest"
            android:label="Arch/Paging">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".transition.TransitionTest"
            android:label="Activity/Transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".transition.TransitionTest1" />
        <activity
            android:name=".transition.TransitionTest2"
            android:theme="@style/TransitionTheme" />
        <activity
            android:name=".keyboard.KeyBoardTest"
            android:label="KeyBoard"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.ServiceTest"
            android:label="Service/IntentService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidTest"
            android:exported="true" />
        <activity
            android:name=".TransparentActivity"
            android:exported="true"
            android:theme="@style/ActivityTranslucent" />
        <activity
            android:name=".pager.PagerTransformTest"
            android:label="View/Pager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HandlerTest"
            android:label="Handler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.RxPermissionsActivity"
            android:label="权限/RxPermissions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".performance.UIPerformanceTest"
            android:label="性能/UI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".performance.GcTest"
            android:label="性能/GC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".performance.ProfileTest"
            android:label="性能/Profile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <activity
            android:name=".IntentTest"
            android:label="Activity/Intent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PipTest"
            android:label="视频/画中画"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.SharedPreferenceTest"
            android:label="Data/SharedPreference">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ThirdAppTest"
            android:label="Activity/ThirdApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MockThirdAppTest"
            android:taskAffinity="cn.dozyx.template.thirdapp">
            <intent-filter>
                <action android:name="cn.dozyx.mockthird" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.ActionModeTest"
            android:label="Menu/ActionMode">
            <!--            android:theme="@style/CustomActionModeTheme">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".install.InstallTest"
            android:label="App/安装">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".image.CircleImageTest"
            android:label="View/CircleImage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".provider.ContentProviderTest"
            android:label="存储/ContentProvider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".database.greendao.GreenDaoTest"
            android:label="存储/GreenDao">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.NotificationTest"
            android:label="通知">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawable.DrawableTest"
            android:label="Drawable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AutoCompleteTest"
            android:label="View/AutoText"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".database.SQLiteTest"
            android:label="Database/SQLite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuTest"
            android:label="Database/SQLite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.ActionSendTest"
            android:label="Intent/Send">
            <!--<intent-filter android:label="Download with Snaptube ">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>-->
            <intent-filter android:label="发送给朋友">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/*" />
            </intent-filter>
            <intent-filter android:label="发送给朋友">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WindowTest"
            android:label="View/Window">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SoftInputTest"
            android:label="Activity/SoftInput"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityTest"
            android:label="Activity/Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.LanguageTest"
            android:label="Device/Language">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".performance.LaunchOptimizeTest"
            android:label="Performance/Launch"
            android:theme="@style/LaunchTheme"><!--
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <activity
            android:name=".performance.TraceTest"
            android:label="性能/Trace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OtherProcessActivity"
            android:alwaysRetainTaskState="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:process=":loader" />
        <activity
            android:name=".activity.ProcessTest"
            android:label="进程">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FinishTest"
            android:label="Activity/finish">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".device.TimeTest"
            android:label="Device/时间">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".view.list.SwipeRefreshTest"
            android:label="View/SwipeRefreshLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".media.ExoPlayerTest"
            android:label="Media/ExoPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <activity android:name=".TelephonyManagerTest"
            android:label="System/TelephonyManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>

        </activity>

        <activity android:name=".webview.NewWebViewTest"
            android:label="View/WebView/new">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".performance.ANRTest"
            android:label="Performance/ANR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LifecycleCallbacksTest"
            android:label="Activity/Callback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.dozyx.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
    </application>

</manifest>