<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dozyx.zerofate.android.core">

    <application>
        <provider
            android:name="cn.dozyx.core.provider.AppProvider"
            android:authorities="${applicationId}.AppProvider" />
    </application>
</manifest>
