<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zerofate.template">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".ZTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- action 为 main，category 为 com.zerofate.intent.category.sample 的activity 将显示在列表中 -->
        <activity android:name=".MainActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.NetworkActivity"
            android:label="@string/network_basic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CustomViewActivity"
            android:label="@string/view_custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".perfermance.BitmapActivity" />
        <activity
            android:name=".imageloader.ui.ImageLoaderActivity"
            android:label="@string/view_image_loader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".socket.SocketActivity"
            android:label="@string/network_socket">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <service
            android:name=".socket.SocketService"
            android:enabled="true"
            android:exported="true"
            android:process=":socket" />
        <service
            android:name=".aidl.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".aidl.AidlTest"
            android:label="@string/aidl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HenCoderPracticeDraw1"
            android:label="@string/view_hencoder_1_1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MaterialDesignTestActivity"
            android:label="@string/view_material_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".practice.ListInsideScrollTest"
            android:label="@string/practice_list_in_scroll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.NetworkAPITest"
            android:label="@string/network_api">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rxjava.RxJavaSimpleExam"
            android:label="@string/rxjava_simple">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LifeCycleTest"
            android:label="@string/activity_life_cycle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LaunchModeTest"
            android:label="@string/activity_launch_mode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LaunchModeTest$StandardLaunchModeTest"
            android:exported="true"
            android:launchMode="standard" />
        <activity
            android:name=".activity.LaunchModeTest$SingleTopLaunchModeTest"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LaunchModeTest$SingleTaskLaunchModeTest"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LaunchModeTest$SingleInstanceLaunchModeTest"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.LaunchModeTest$SingleTaskLaunchModeTestWithTaskAffinity"
            android:exported="true"
            android:taskAffinity=".test"
            android:launchMode="singleTask" />
        <activity
            android:name=".fragment.FragmentLifeCycle"
            android:label="@string/fragment_life_cycle"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SimpleService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".service.ServiceLifeCycleActivity"
            android:label="@string/service_life_cycle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design.SwipeDismissBehaviorDemo"
            android:label="@string/design_behavior">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WidgetTest"
            android:label="@string/view_widget_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interaction.EventBusTest"
            android:label="@string/interaction_event_bus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/view_webview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".practice.FloatWindowActivity"
            android:label="@string/practice_float_window">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>

        <service android:name=".practice.FloatWindowActivity$FloatWindowsServices" />

        <activity android:name=".view.recyclerview.RecyclerViewTestActivity" />
        <activity
            android:name=".view.SpinnerTestActivity"
            android:label="@string/view_spinner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountDownActivity"
            android:label="@string/practice_count_down">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
    </application>

</manifest>