<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zerofate.andoroid.zerotemplate">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- action 为 main，category 为 com.zerofate.intent.category.sample 的activity 将显示在列表中 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.NetworkActivity"
            android:label="@string/network_basic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CustomViewActivity"
            android:label="@string/view_custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
        <activity android:name=".perfermance.BitmapActivity" />
        <activity
            android:name=".imageloader.ui.ImageLoaderActivity"
            android:label="@string/view_image_loader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.zerofate.intent.category.sample" />
            </intent-filter>
        </activity>
    </application>

</manifest>